<section class="account">
  {{> account/header user=user roles=roles}}

  {{> account/nav currentSection='products' isSeller=isSeller isAdmin=isAdmin isBidder=isBidder}}

  {{> account/actions currentSection='products' isSeller=isSeller}}

  {{#if isSeller}}
    {{> account/seller-dashboard seller=seller}}
  {{else}}
    {{> account/seller-locked}}
  {{/if}}
</section>  
