<section class="account">
  {{> account/header user=user roles=roles}}

  {{> account/nav currentSection='security' isSeller=isSeller isAdmin=isAdmin}}

  {{> account/actions currentSection='security' isSeller=isSeller}}

  {{> account/security-section}}
</section>
